body {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav article options"
  "footer footer footer";
  grid-template-rows: 125px 1fr 30px;
  grid-template-columns: 10% 1fr 5%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  height: 100vh;
  margin: 0;
  }
@media all and (max-width: 800px) {
  body {
    grid-template-areas:
      "header"
      "article"
      "options"
      "nav"
      "footer";
    grid-template-rows: 125px 1fr 70px 1fr 30px;
    grid-template-columns: 1fr;
 }
}
header, footer, article, nav, div {
  padding: 1.0em;
/*  background: grey; */
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle {
  grid-area: article;
  }
#mainNav {
  grid-area: nav;
  }
#siteOptions {
  grid-area: options;
  }


  #frame_radar { margin-top: -228px }
  #div_iframe_radar {
    border-style: inset;
    border-color: grey;
    overflow:hidden;
    height: 530px;
    width: 540px;
  }
  #frame_radar {
    width: 100%;
    height: 1000%;   /* 10x the div height to embrace the whole page */
  }

  #frame_baro { margin-top: -300px }
  #div_iframe_baro {
    border-style: inset;
    border-color: grey;
    overflow:hidden;
    height: 540px;
    width: 790px;
  }
  #div_webview_baro {
    border-style: inset;
    border-color: grey;
    overflow:hidden;
    height: 540px;
    width: 790px;
  }
  #frame_baro {
    width: 100%;
    height: 1000%;   /* 10x the div height to embrace the whole page */
  }
